@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --white: #fbfbf2;
    --black: #000;
    --overlay: rgba(0, 0, 0, 0.8);
    --overlay1: rgba(0, 0, 0, 0.4);
    --overlay2: rgba(0, 0, 0, 0.2);
    --light-red: #ef6f6c6e;
    --grey: #808080;
    --bt-bg: rgba(255, 129, 126, 0.6);
    --fb: #4267B2;
    --tweet: #00acee;
    --link: #0077B5;
    --you: #FF0000;
    --insta: #E1306C;
    --purple: #800080;
    --lt-purple1: #dcd1f2;
    --lt-purple2: rgba(220, 209, 242, 0.4);
}

html {
    cursor: url(../Icons/brush2.png), auto;
}

* {
    cursor: url(../Icons/brush2.png), auto !important;
}

*::selection {
    background-color: var(--purple);
    color: var(--white);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: var(--lt-purple1);
}

/*Header*/

header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 12px 0;
}

.navbar.change {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--purple);
    transition: all .5s ease-in-out;
    z-index: 10000;
    padding: 12px 0;
}

.navbar.change .nav-link {
    color: var(--white) !important;
}

.navbar.change .nav-link:hover {
    color: var(--purple) !important;
}

.navbar.change .nav-link::after {
    background: var(--white);
}

.navbar.change .navbar-brand {
    color: var(--white) !important;
}

.navbar-brand {
    color: var(--purple) !important;
    font-family: 'Kaushan Script', cursive;
}

.nav-link {
    color: var(--purple) !important;
    transition: all .5s ease;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--white) !important;
}

.nav-link::after {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background-color: var(--purple);
    transition: all .5s ease;
    z-index: -2;
    border-radius: 0 15px 0 15px;
}

.nav-link:hover::after {
    height: 35px;
}

/*Service-Banner*/

.service-banner {
    position: relative;
    overflow: hidden;
}

.carousel-caption {
    position: absolute;
    bottom: 20%;
    left: 31%;
    right: 31%;
    z-index: 10;
    padding-top: 210px;
    padding-bottom: 210px;
    color: #fff;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}

.service-banner::before {
    position: absolute;
    content: "";
    top: 60%;
    right: 0;
    bottom: 0;
    left: 29%;
    z-index: 11;
    background: url("../Images/dot_03.png");
    background-repeat: no-repeat;
    animation: float 6s ease-in-out infinite;
}

.service-banner .carousel-caption::after {
    position: absolute;
    content: "";
    top: -39px;
    right: 0;
    bottom: 0;
    left: 53%;
    z-index: -2;
    background: url("../Images/line_02.png");
    background-position: top;
    background-repeat: no-repeat;
    animation: float 6s ease-in-out infinite;
}

.carousel-item h2 {
    color: var(--purple) !important;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

.carousel-item p {
    color: var(--purple) !important;
    font-family: 'Josefin Sans', sans-serif;
}

.fa-angle-right {
    font-size: 50px;
    color: var(--lt-purple1);
    background-color: var(--purple);
    padding: 0 15px 4px 20px;
    border-radius: 50%;
}

.fa-angle-left {
    font-size: 50px;
    color: var(--lt-purple1);
    background-color: var(--purple);
    padding: 0 20px 4px 15px;
    border-radius: 50%;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

/*Service-Text*/

.service-text {
    background: url("../Images/Asset2.png") no-repeat center center/cover;
    padding: 250px 0;
    overflow: hidden;
}

.content {
    position: relative;
    top: 80px;
}

.stext {
    margin-top: 110px;
}

.stext h2 {
    color: var(--purple);
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
}

.stext p {
    color: var(--purple);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    text-align: justify;
}

.service-text a {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    background: var(--grey);
    transition: all .5s ease;
    border-radius: 0 20px 0 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.service-text a:hover {
    color: var(--white);
    background: var(--purple);
}

.service-text a:before,
a:after {
    position: absolute;
    content: "";
    transition: all .5s ease;
}

.service-text a:before {
    border-bottom: 2px solid var(--grey);
    border-left: 2px solid var(--grey);
    width: 10%;
    height: 33%;
    left: -10px;
    bottom: -8px;
    border-radius: 0 20px 0 20px;
}

.service-text a:after {
    border-top: 2px solid var(--grey);
    border-right: 2px solid var(--grey);
    width: 10%;
    height: 33%;
    top: -7px;
    right: -10px;
    border-radius: 0 20px 0 20px;
}

.service-text a:hover:before {
    width: 113%;
    height: 139%;
}

.service-text a:hover:after {
    width: 112%;
    height: 138%;
}

/*Service-Boxes*/

.service-boxes {
    background: url("../Images/course_illustration_03.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.service-boxes::before {
    content: "";
    position: absolute;
    background: url("../Images/gallerybg.png") no-repeat top left;
    background-size: 30%;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
}

.service-boxes h2 {
    color: var(--purple);
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
}

.text h2 {
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    left: 40px;
    top: 80px;
    font-size: 55px;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.box:hover h2 {
    opacity: 1;
    color: var(--lt-purple1);
    transform: translateY(-50px);
}

.service-boxes h3 {
    position: relative;
    color: var(--purple);
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    z-index: 2;
    transition: .5s;
}

.service-boxes p {
    position: relative;
    color: var(--purple);
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;
    transition: .5s;
}

.box:hover h3,
.box:hover p {
    color: var(--lt-purple1);
}



.service-boxes p {
    color: var(--purple);
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
}

.service-boxes .text {
    position: relative;
    padding: 100px 40px 60px;
    border-radius: 0 30px 0 30px;
    background-color: var(--lt-purple1);
}

.text::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--purple);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
    border-radius: 0 30px 0 30px;
}

.text:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

/*Service-Accordion*/

.service-accordion {
    background: url("../Images/brush_pattern.jpg") no-repeat center center/cover;
    padding: 100px 0;
    background-attachment: fixed;
}

.service-accordion h2 {
    color: var(--purple);
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
}

.btn-link {
    color: var(--purple);
}

.btn-link:hover {
    text-decoration: none;
    color: var(--purple);
}

.accordion > .card > .card-header {
    border-radius: 0 30px 0 30px;
}

.accordion > .card:not(:last-of-type) {
    border-radius: 0 30px 0 30px;
}

.accordion > .card:not(:first-of-type) {
    border-radius: 0 30px 0 30px;
}

.accordion > .card {
    margin-bottom: 20px;
    background-color: var(--lt-purple1);
}

.card-body {
    color: var(--purple);
    font-family: 'Josefin Sans', sans-serif;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
}

.btn {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.fa-plus {
    font-size: 15px;
}

.fa-minus {
    font-size: 15px;
}

/*Footer*/

footer {
    background: var(--lt-purple1);
    padding: 25px 0 0 0;
    cursor: pointer;
    position: relative;
}

.top-footer a {
    color: var(--purple) !important;
    font-family: 'Kaushan Script', cursive;
}

.social img {
    transition: all .5s;
}

.social img:hover {
    transform: translateY(-15px);
}

.top-footer {
    position: relative;
    border-bottom: 1px solid var(--purple);
    z-index: 1;
}

.mid-footer .link_name {
    font-size: 20px;
    font-weight: 600;
    color: var(--purple);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.fbox li {
    margin: 10px 0;
}

.link_name {
    position: relative;
}

.link_name::before {
    content: '';
    position: absolute;
    top: 32px;
    height: 3px;
    width: 38px;
    background: var(--purple);
    border-radius: 0 15px 0 15px;
}

.fbox li a {
    color: var(--grey);
    text-decoration: none;
    transition: .5s;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.fbox li a:hover {
    color: var(--purple);
    text-decoration: none;
}

.input-box {
    /*    margin-right: 55px;*/
}

.input-box input {
    height: 40px;
    width: calc(100% + 129px);
    outline: none;
    background: var(--white);
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
    border-radius: 0 20px 0 20px;
}

input::placeholder {
    color: var(--purple);
    font-size: 16px;
}

.input-box input[type="button"] {
    background: var(--white);
    color: var(--purple);
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

input[type="button"]:hover {
    opacity: 1;
}

.bottom-footer {
    padding: 10px 0 2px 0;
    background-color: var(--purple);
}

.bottom-footer h6 {
    color: var(--white);
}

.bottom-footer .others a {
    text-decoration: none;
}

.bottom-footer .others a:hover h6 {
    color: var(--black) !important;
    transition: all .5s;
    text-decoration: underline;
}

.special {
    margin-top: 3px;
    display: inline-block;
}

@media (min-width:1920px) {

    .carousel-caption {
        padding-top: 290px;
        padding-bottom: 290px;
    }

}

@media (max-width: 1199px) {
    .carousel-caption {
        padding-top: 170px;
        padding-bottom: 170px;
        bottom: 15%;
    }

    .carousel-item p {
        font-size: 14px;
    }

    .carousel-item h2 {
        font-size: 40px;
    }
    
    .service-text{
        background-size: 100%;
        padding: 100px 0;
    }
    
    .stext h2{
        font-size: 40px;
    }
    
    .stext p{
        font-size: 14px;
    }
    
    .sbut{
        margin-top: 40px;
    }
    
    .service-boxes h2{
        font-size: 40px;
    }
    
    .service-accordion h2{
        font-size: 40px;
    }
    
    .service-banner .carousel-caption::after{
        top: -2%;
        background-size: 70%;
    }
    
    .service-banner::before{
        top: 65%;
        left: 30%;
        background-size: 17%;
    }
}

@media (max-width: 1200px) {
    .carousel-item p {
        font-size: 14px;
    }

    .carousel-item h2 {
        font-size: 35px;
    }

    .carousel-caption {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

@media (max-width: 991px) {

    .carousel-caption {
        padding-top: 130px;
        padding-bottom: 130px;
        bottom: 15%;
    }

    .carousel-item p {
        font-size: 12px;
    }

    .carousel-item h2 {
        font-size: 31px;
    }

    .service-banner .carousel-caption::after {
        background-size: 75%;
        top: -15px;
    }

    .service-banner::before {
        background-size: 19%;
        top: 67% !important;
    }
    
    .service-text{
        padding: 85px 0;
    }
    
    .stext h2{
        font-size: 25px;
    }
    
    .stext p{
        font-size: 12px;
    }
    
    .stext{
        margin-top: 60px;
    }
    
    .service-text a{
        display: none;
    }
    
    .content{
        top: 60px;
    }
    
    .img-fluid{
        margin-top: 20px;
    }
    
    .service-boxes p{
        font-size: 12px;
    }
    
    .mid-footer .link_name {
        font-size: 16px;
    }

    .link_name::before {
        top: 28px;
    }

    .input-box input {
        width: calc(100% + 6px);
    }

    .copy h6 {
        font-size: 10px;
    }

    .others h6 {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 900px){
    .carousel-caption {
        padding-top: 130px;
        padding-bottom: 130px;
        bottom: 15%;
    }

    .carousel-item p {
        display: none;
    }

    .carousel-item h2 {
        font-size: 27px;
    }
    
    .content{
        top: 50px;
    }
    
    .service-boxes h2{
        font-size: 30px;
    }
    
    .service-accordion h2{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        padding-top: 123px;
        padding-bottom: 123px;
        bottom: 15%;
    }

    .carousel-item p {
        display: none;
    }

    .carousel-item h2 {
        font-size: 25px;
    }
    
    .simg{
        display: none;
    }
    
    .content{
        top: 20px;
    }
    
    .stext p{
        font-size: 14px;
    }
    
    .stext h2{
        font-size: 35px;
        text-align: center;
    }
    
    .service-boxes .text-mr{
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .carousel-caption {
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .carousel-item h2 {
        font-size: 18px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    
    .stext h2{
        font-size: 30px;
    }
    
    .service-boxes h2{
        font-size: 35px;
    }
    
    .service-accordion h2{
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .carousel-item h2 {
        font-size: 16px;
    }

    .carousel-caption {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .service-text{
        padding: 0;
    }
    
    .service-boxes h2{
        font-size: 30px;
    }
    
    .service-accordion h2{
        font-size: 30px;
    }
}
